<!-- Start: Page Banner -->
<section class="page-banner services-banner">
  <div class="container">
    <div class="banner-header">
      <h2>Blog</h2>
      <span class="underline center"></span>
      <p class="lead">Nơi chia sẻ về sách</p>
    </div>
    <div class="breadcrumb">
      <ul>
        <li><a href="index-2.html" [routerLink]="'/pages/home'" routerLinkActive="active">Trang chủ</a></li>
        <li>Blog</li>
      </ul>
    </div>
  </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Blog Section -->
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main">
      <div class="blog-main-list">
        <div class="container">
          <div class="row">
            <div class="blog-page grid clearfix">
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/1'" routerLinkActive="active" ><img alt="blog" src="./assets/images/blog_new/blog1.jpg" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>

                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title" [routerLink]="'/pages/blog/blog-detail/1'" routerLinkActive="active" ><a>Trở Thành Một Người Thú Vị</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Chúng ta vẫn mãi mải mê đi tìm giá trị của bản thân mà không hề biết rằng bản mình luôn có giá trị của riêng mình. . .</p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default"  [routerLink]="'/pages/blog/blog-detail/1'" routerLinkActive="active" >Xem thêm</a>
                    </footer>
                  </div>
                </div>
              <article>
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/2'" routerLinkActive="active"><img alt="blog" src="./assets/images/blog_new/blog2.jpg" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>

                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title" ><a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/2'" routerLinkActive="active">The Book Of Leadership</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Cuốn sách "The Book Of Leadership" có một câu nói rất hay khiến tôi nhớ mãi "Phải biết cách tự lãnh đạo bản thân. . . </p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default" href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/2'" routerLinkActive="active" >Xem thêm</a>
                    </footer>
                  </div>
                </div>
              </article>
              <article>
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/3'" routerLinkActive="active"><img alt="blog" src="./assets/images/blog_new/blog3.jpg" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>
                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title" ><a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/3'" routerLinkActive="active">Hiệu Ứng Lan Truyền</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Đây là cuốn sách cần thiết cho những bạn làm Marketing, đặc biệt là Digital Marketing để tạo Viral Content. . .</p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default" href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/3'" routerLinkActive="active" >Xem thêm</a>
                    </footer>
                  </div>
                </div>
              </article>
              <article>
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/4'" routerLinkActive="active"><img alt="blog" src="./assets/images/blog_new/blog4.jpg" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>
                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title" ><a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/4'" routerLinkActive="active">Nghệ Thuật Của Sự Tĩnh Lặng</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Không đi đâu cả không phải là quay lưng lại với thế giới, mà là thỉnh thoảng bước ra để có thể nhìn thấy thế giới. . .</p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default" href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/4'" routerLinkActive="active">Xem thêm</a>
                    </footer>
                  </div>
                </div>
              </article>
              <article>
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/5'" routerLinkActive="active"><img alt="blog" src="./assets/images/blog_new/blog5.jpg" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>
                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title" ><a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/5'" routerLinkActive="active">Tự Truyện Benjamin Franklin</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Đã hơn 3 thập kỷ trôi qua, "Tự Truyện Benjamin Franklin" vẫn là cuốn sách kinh điển được nhiều đọc giả yêu thích. . .</p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default" href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/5'" routerLinkActive="active">Xem thêm</a>
                    </footer>
                  </div>
                </div>
              </article>
              <article>
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/6'" routerLinkActive="active"><img alt="blog" src="./assets/images/blog_new/blog6.jpg" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>
                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title" ><a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/6'" routerLinkActive="active">How Brands Grow</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Đây là một cuốn sách Marketing được các chuyên gia trong giới khuyên đọc, vì nó làm "hoài nghi" mọi suy nghĩ của bạn. . .</p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default" href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/6'" routerLinkActive="active">Xem thêm</a>
                    </footer>
                  </div>
                </div>
              </article>
              <article>
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/7'" routerLinkActive="active"><img alt="blog" src="./assets/images/blog_new/blog7.jpg" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>
                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title" ><a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/7'" routerLinkActive="active">Khi Hơi Thở Hóa Thinh Không</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Sự sống - chết chóc là quy luật tự nhiên của mỗi con người chúng ta. Nhưng trước khi đối diện, bạn đã thật sự chiến. . .</p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default" href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/7'" routerLinkActive="active">Xem thêm</a>
                    </footer>
                  </div>
                </div>
              </article>
              <article>
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/8'" routerLinkActive="active"><img alt="blog" src="./assets/images/blog_new/blog8.png" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>
                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title" ><a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/8'" routerLinkActive="active">Đọc Sách Như Một Nghệ Thuật</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Mọi việc trong cuộc sống này đều là một nghệ thuật, đọc sách cũng vậy. Nhưng không phải ai cũng đã biết cách đọc. . .</p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default" href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/8'" routerLinkActive="active">Xem thêm</a>
                    </footer>
                  </div>
                </div>
              </article>
              <article>
                <div class="grid-item blog-item">
                  <div class="post-thumbnail">
                    <div class="post-date-box">
                      <div class="post-date">
                        <a class="date" href="#.">07</a>
                      </div>
                      <div class="post-date-month">
                        <a class="month" href="#.">Mar</a>
                      </div>
                    </div>
                    <a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/9'" routerLinkActive="active"><img alt="blog" src="./assets/images/blog_new/blog9.jpg" /></a>
                    <div class="post-share">
                      <a href="#."><i class="fa fa-comment"></i> 37</a>
                      <a href="#."><i class="fa fa-thumbs-o-up"></i> 110</a>
                      <a href="#."><i class="fa fa-eye"></i> 180</a>
                    </div>
                  </div>
                  <div class="post-detail">
                    <header class="entry-header">
                      <div class="blog_meta_category">
                        <span class="arrow-right"></span>

                      </div>
                      <h3 class="entry-title"><a href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/9'" routerLinkActive="active">Tuần Làm Việc 4 Giờ</a></h3>

                    </header>
                    <div class="entry-content">
                      <p>Bất cứ khi nào bạn thấy mình đang thuộc về số đông, đó là lúc bạn phải dừng lại và suy ngẫm. . .</p>
                    </div>
                    <footer class="entry-footer">
                      <a class="btn btn-default" href="blog-detail.html" [routerLink]="'/pages/blog/blog-detail/9'" routerLinkActive="active">Xem thêm</a>
                    </footer>
                  </div>
                </div>
              </article>
            </div>

          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- End: Blog Section -->

