<p-toast></p-toast>
<div id="wrapper">
  <div class="form-login">
    <form class="form-login-group" [formGroup]="forgetPasswordForms">
      <h1 class="text-center">Quên mật khẩu</h1>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" formControlName="email">
        <div  *ngIf="forgetPasswordForms.get('email')?.invalid &&( forgetPasswordForms.get('email')?.dirty || forgetPasswordForms.get('email')?.touched)">
          <div *ngIf="forgetPasswordForms.get('email')?.hasError('required')">
            Vui lòng nhập email
          </div>
          <div *ngIf="forgetPasswordForms.get('email')?.hasError('email')">
            Hãy nhập đúng dạng @gmail.com
          </div>
        </div>
      </div>
      <div class="forget-password">
        <button type="submit" class="btn btn-primary form-control" (click)="onForgotPassword()">Xác nhận</button>
      </div>
    </form>
  </div>
</div>

