.err{
  color:red;
}

.modal-header {
  background-color: #000;
  position: relative;
  height: 60px;
}

.modal-header .modal-title {
  color: #ffffff;
  line-height: 30px;
  padding-left: 12px;
}

.modal-header .close {
  color: #ffffff;
  position: absolute;
  right: 3%;
  top: 0;
  bottom: 0;
}
