<div class="modal fade" id="exampleModal-password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h4 class="modal-title" id="exampleModalLabel" >Đổi mật khẩu</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="changPasswordFroms">
          <div class="form-group row">
            <label for="old-password" class="col-sm-4 col-form-label">Mật khẩu cũ <span style="color: red">*</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="old-password" formControlName="old_password">
              <div class="err" *ngIf="changPasswordFroms.get('old_password')?.invalid &&( changPasswordFroms.get('old_password')?.dirty ||changPasswordFroms.get('old_password')?.touched)">
                <div *ngIf="changPasswordFroms.get('old_password')?.hasError('required')">
                  Vui lòng nhập mật khẩu cũ
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="new-password" class="col-sm-4 col-form-label">Mật khẩu mới <span style="color: red">*</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="new-password" formControlName="new_password" required minlength="6">
              <div class="err" *ngIf="changPasswordFroms.get('new_password')?.invalid &&( changPasswordFroms.get('new_password')?.dirty ||changPasswordFroms.get('new_password')?.touched)">
                <div *ngIf="changPasswordFroms.get('new_password')?.hasError('required')">
                  Vui lòng nhập mật khẩu mới
                </div>
                <div *ngIf="changPasswordFroms.get('new_password')?.hasError('pattern')">
                  Vui lòng nhập mật khẩu mới có ít nhất 8 kí tự bao gồm cả số , chữ hoa và chữ thường
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="retype-password" class="col-sm-4 col-form-label">Nhập lại mật khẩu <span style="color: red">*</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="retype-password" formControlName="re_password">
              <div class="err" *ngIf="(changPasswordFroms.get('re_password')?.touched || changPasswordFroms.get('re_password')?.dirty)">
                <div *ngIf="changPasswordFroms.get('re_password')?.hasError('required')">
                  Vui lòng nhập lại mật khẩu
                </div>
                <div *ngIf="!changPasswordFroms.get('re_password')?.hasError('required') && noMatch">
                  Mật khẩu mới và mật khẩu xác nhận không giống nhau
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-primary" style="margin-bottom: 10px; font-size: 18px; background: #ff7236" (click)="onSubmit()" data-dismiss="modal" >Cập nhật</button>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
