<div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">

  <!-- Carousel slides -->
  <div class="carousel-inner">
    <div class="item active">
      <figure>
        <img alt="Home Slide" src="assets/images/header-slider/home-v1/header-slide.jpg" />
      </figure>
      <div class="container">
        <div class="carousel-caption">
          <h3>Đọc sách mọi lúc, mọi nơi!</h3>
          <h2>Không có người bạn nào trung thành như một cuốn sách!</h2>
          <p>Vào khoảnh khắc mà chúng ta quyết thuyết phục đứa trẻ, bất cứ đứa trẻ nào, bước qua bậc thềm ấy, bậc thềm màu nhiệm dẫn vào thư viện, ta thay đổi cuộc sống của nó mãi mãi, theo cách tốt đẹp hơn.</p>
<!--          <div class="slide-buttons hidden-sm hidden-xs">-->
<!--            <a href="#" class="btn btn-primary">Đọc Thêm</a>-->
<!--            <a href="#" class="btn btn-default">Chi Tiết</a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <div class="item">
      <figure>
        <img alt="Home Slide" src="assets/images/header-slider/home-v2/header-slide.jpg" />
      </figure>
      <div class="container">
        <div class="carousel-caption">
          <h3>Đọc sách mọi lúc, mọi nơi!</h3>
          <h2>Không có người bạn nào trung thành như một cuốn sách!</h2>
          <p>Vào khoảnh khắc mà chúng ta quyết thuyết phục đứa trẻ, bất cứ đứa trẻ nào, bước qua bậc thềm ấy, bậc thềm màu nhiệm dẫn vào thư viện, ta thay đổi cuộc sống của nó mãi mãi, theo cách tốt đẹp hơn.</p>
          <!--          <div class="slide-buttons hidden-sm hidden-xs">-->
<!--            <a href="#" class="btn btn-primary">Đọc Thêm</a>-->
<!--            <a href="#" class="btn btn-default">Mượn</a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <div class="item">
      <figure>
        <img alt="Home Slide" src="assets/images/header-slider/home-v3/header-slide.jpg" />
      </figure>
      <div class="container">
        <div class="carousel-caption">
          <h3>Đọc sách mọi lúc, mọi nơi!</h3>
          <h2>Không có người bạn nào trung thành như một cuốn sách!</h2>
          <p>Vào khoảnh khắc mà chúng ta quyết thuyết phục đứa trẻ, bất cứ đứa trẻ nào, bước qua bậc thềm ấy, bậc thềm màu nhiệm dẫn vào thư viện, ta thay đổi cuộc sống của nó mãi mãi, theo cách tốt đẹp hơn.</p>
          <!--          <div class="slide-buttons hidden-sm hidden-xs">-->
<!--            <a href="#" class="btn btn-primary">Đọc Thêm</a>-->
<!--            <a href="#" class="btn btn-default">Mượn</a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
  <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
</div>
