
#wrapper {
  background-image: url('/assets/images/background-auth.jpg');
  background-size: cover;
  /*padding-top: 20px;*/
}

#wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  background-color: rgba(255, 255, 255, 0.8);
  width: 700px;

}

.form-login-group {
  padding: 20px;
}

#password {
  position: relative;
}

#eye {
  position: absolute;
  top: 20px;
  right: 30px;

  cursor: pointer;
}
#eye1{
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
#password1{
  position: relative;
}
.forget-password {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

a:hover {
  text-decoration: none !important;
}
.text-center{
  font-size: 30px;
  margin: 0 0 20px 0;
  font-weight: 500;
}
.col-sm-3.col-form-label{
  padding-top: 15px;
}

