<p-toast></p-toast>
<section class="page-banner services-banner">
  <div class="container">
    <div class="banner-header">
      <h2>Chi tiết sách</h2>
      <span class="underline center"></span>
    </div>
    <div class="breadcrumb">
      <ul>
        <li><a [routerLink]="'/pages/home'" routerLinkActive="active">Trang chủ</a></li>
        <li>Chi tiết sách</li>
      </ul>
    </div>
  </div>
</section>
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main">
      <div class="booksmedia-detail-main">
        <div class="container">
          <div class="row">
            <!-- Start: Search Section -->
            <section class="search-filters">
              <div class="container">
              </div>
            </section>
            <!-- End: Search Section -->
          </div>
          <ng-container *ngIf="!bookPopularData || bookPopularData.length === 0">
            <div class="explore-events pt-80">
              <div class="container">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12">
                    <!--                    <p-skeleton width="30%" height="528px"></p-skeleton>-->
                    <app-detail-book-skeleton></app-detail-book-skeleton>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12">
                    <!--                    <div class="event-filter-items">-->
                    <!--                      <div class="featured-controls">-->

                    <!--                      </div>-->
                    <!--                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="booksmedia-detail-box">
            <div class="detailed-box">
              <div class="col-xs-12 col-sm-5 col-md-3">
                <div class="post-thumbnail">
                  <img src="{{fileUrl}}{{bookData?.image}}" style="width:352px ;height:349px" alt="Book Image">
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-9">
                <div class="post-center-content">
                  <h2>{{bookData?.bookName}}</h2>
                  <p><strong>Tác giả:</strong> {{bookData?.nameAuthor}}</p>
                  <p><strong>Thể loại:</strong> {{bookData?.categoryName}}</p>
                  <p><strong>Số lượng:</strong> {{bookData?.amount}}</p>
                  <p><strong>Nhà xuất bản:</strong> {{bookData?.publishName}}</p>
                  <p><strong>Năm xuất bản:</strong> {{bookData?.publishingYear}}</p>
                  <p><strong>Số trang:</strong> {{bookData?.pageNumber}}</p>
                  <p><strong>Giá sách:</strong> {{bookData?.price}}</p>
                  <div class="actions">
                    <ul class="add-loanpay">
                      <li *ngIf = "currentAccount" >
                        <a class="dk-loanpay" target="_blank" data-toggle="blog-tags" data-placement="top"
                           data-toggle="modal" data-target="#exampleModal-bookmanager-new"
                            (click)="getBookDetail(bookData.bookId)"><i class="fa-solid fa-check"></i> Đăng Ký Mượn</a>
                      </li>
                      <li *ngIf = "!currentAccount" >
                        <a [routerLink]="['/auth/login']" >Vui lòng đăng nhập trước khi mượn sách</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <p><strong>Mô tả ngắn: </strong>{{bookData?.note}}</p>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div *ngIf="bookPopularData" class="booksmedia-fullwidth">
    <div class="container">
      <h2 class="section-title text-center">Sách cùng thể loại</h2>
      <span class="underline center"></span>
      <p class="lead text-center"></p>
      <ul class="popular-items-detail-v2" style="margin-top: 40px">
        <p-carousel [value]="bookPopularData" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-bookPopularData pTemplate="item">
            <li style="max-width: 354px !important;">
              <figure>
                              <img src="{{fileUrl}}{{bookPopularData?.image}}" style="width:324px; height: 456px"  alt="Book">
                              <figcaption (click)="onHeader()" [routerLink]="['/pages/detail-book/'+bookPopularData?.bookId]">
                                <header>
                                  <h4><a>{{bookPopularData?.bookName}}</a></h4>
                                  <p><strong>Tác giả:</strong>{{bookPopularData?.nameAuthor}}</p>
                                  <p><strong>Thể loại:</strong>{{bookPopularData?.categoryName}}</p>
                                </header>
                                <p>{{bookPopularData?.note}}</p>
                                <div class="actions">
                                  <ul>
                                    <li>
                                      <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Add To Cart">
                                        <i class="fa fa-shopping-cart"></i>
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Like">
                                        <i class="fa fa-heart"></i>
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Mail"><i class="fa fa-envelope"></i>
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Search">
                                        <i class="fa fa-search"></i>
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Print">
                                        <i class="fa fa-print"></i>
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="Print">
                                        <i class="fa fa-share-alt"></i>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </figcaption>
                            </figure>
                          </li>
          </ng-template>
        </p-carousel>
      </ul>
    </div>
  </div>
</div>

<!-- modal-->

<div class="modal fade" id="exampleModal-bookmanager-new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" [formGroup]="loanpayInfoForm">
    <div class="modal-content border-0">
      <div class="modal-header" style="background: #2C3333">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white">Đăng ký mượn <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #ffffff">&times;</span>
        </button></h5>
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true" style="color: white">&times;</span>-->
<!--        </button>-->
      </div>
      <div class="modal-body">

        <div class="form-group row" style=" display:none">
          <label  class="col-sm-2 col-form-label">Mã sách <span style="color: red;">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="book_id" [(ngModel)]="bookData.bookId"  >
          </div>
        </div>

        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Tên Sách <span style="color: red">*</span></label>
          <div class="col-sm-10">
            <input [disabled]="true" selected type="text" class="form-control" formControlName="book_name" value="{{bookData.bookName}}"  >
          </div>
        </div>
<!--        <div class="form-group row">-->
<!--          <label class="col-sm-2 col-form-label">Tên sách <span style="color: red">*</span></label>-->
<!--          <div class="col-sm-10">-->
<!--            <select class="form-control" formControlName="book_id" >-->
<!--              <option  value="{{bookData.bookId}}">-->
<!--                <span>{{bookData.bookName}}</span>-->
<!--              </option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Số lượng <span style="color: red">*</span></label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="amount" formControlName="amount">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Ngày trả <span style="color: red">*</span></label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="endDate" formControlName="end_date">
          </div>
        </div>

        <div class="form-group row">
          <label for="note" class="col-sm-2 col-form-label">Ghi chú <span style="color: red">*</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="note" formControlName="note">
          </div>
        </div>

      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-primary" style="font-size: 18px" (click)="onAddNewLoanpay()" data-dismiss="modal">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
