<section class="page-banner services-banner">
  <div class="container">
    <div class="banner-header">
      <h2>Liên hệ</h2>
      <span class="underline center"></span>
      <p class="lead">Hãy liên hệ với chúng tôi! </p>
    </div>
    <div class="breadcrumb">
      <ul>
        <li><a [routerLink]="['/pages/home']">Trang chủ</a></li>
        <li>Liên hệ</li>
      </ul>
    </div>
  </div>
</section>
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main">
      <div class="contact-main">
        <div class="contact-us">
          <div class="container">
            <div class="contact-location">
              <div class="flipcard">
                <div class="front">
                  <div class="top-info">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ</span>
                  </div>
                  <div class="bottom-info">
                    <span class="top-arrow"></span>
                    <ul>
                      <li>1/19 Trần Quang Diệu</li>
                      <li>phường Ô Chợ Dừa</li>
                      <li>Đống Đa, Hà Nội</li>
                    </ul>
                  </div>
                </div>
                <div class="back">
                  <div class="bottom-info orange-bg">
                    <span class="bottom-arrow"></span>
                    <ul>
                      <li>1/19 Trần Quang Diệu</li>
                      <li>phường Ô Chợ Dừa</li>
                      <li>Đống Đa, Hà Nội</li>
                    </ul>
                  </div>
                  <div class="top-info dark-bg">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ</span>
                  </div>
                </div>
              </div>
              <div class="flipcard">
                <div class="front">
                  <div class="top-info">
                    <span><i class="fa fa-fax" aria-hidden="true"></i> Số điện thoại</span>
                  </div>
                  <div class="bottom-info">
                    <span class="top-arrow"></span>
                    <ul>
                      <li><a href="tel:090 26 28 299">Công ty: 090 26 28 299</a></li>
                      <li><a href="tel:034 958 1879">Công ty: 034 958 1879</a></li>
                      <li><a href="tel:097 533 77 72">Nhân viên: 097 533 77 72</a></li>
                    </ul>
                  </div>
                </div>
                <div class="back">
                  <div class="bottom-info orange-bg">
                    <span class="bottom-arrow"></span>
                    <ul>
                      <li><a href="tel:090 26 28 299">Công ty: 090 26 28 299</a></li>
                      <li><a href="tel:034 958 1879">Công ty: 034 958 1879</a></li>
                      <li><a href="tel:097 533 77 72">Nhân viên: 097 533 77 72</a></li>
                    </ul>
                  </div>
                  <div class="top-info dark-bg">
                    <span><i class="fa fa-fax" aria-hidden="true"></i> Số điện thoại</span>
                  </div>
                </div>
              </div>
              <div class="flipcard">
                <div class="front">
                  <div class="top-info">
                    <span><i class="fa fa-envelope" aria-hidden="true"></i> Địa chỉ email</span>
                  </div>
                  <div class="bottom-info">
                    <span class="top-arrow"></span>
                    <ul>
                      <li>compedia.vn</li>
                      <li>support@compedia.vn</li>
                      <li>vuductrung20072000@gmail.com</li>
                    </ul>
                  </div>
                </div>
                <div class="back">
                  <div class="bottom-info orange-bg">
                    <span class="bottom-arrow"></span>
                    <ul>
                      <li><a href="https://compedia.vn/">compedia.vn </a></li>
                      <li><a href="mailto:support@compedia.vn">support@compedia.vn</a></li>
                      <li><a href="mailto:vuductrung20072000@gmail.com">vuductrung20072000@gmail.com</a></li>
                    </ul>
                  </div>
                  <div class="top-info dark-bg">
                    <span><i class="fa fa-envelope" aria-hidden="true"></i> Địa chỉ email</span>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="contact-area">
                <div class="container" style="padding: 0px">
                  <div class="col-md-12 border-gray">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="contact-map bg-light">
                          <div class="company-map" id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4207904566683!2d105.82291151440714!3d21.015842693596223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab8d0bfdb215%3A0x6a42c75b0fbd3dca!2sCompedia%20Software!5e0!3m2!1svi!2s!4v1663295938437!5m2!1svi!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!--                            <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'600px'}" ></p-gmap>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>


